extends ../layout/layout-dash
block container
	.dash-main
		.container
			.group.flex
				a.group-item(href="/hocvien/dangkykhoahoc")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Đăng ký khóa học
				a.group-item(href="/hocvien/dangkylop")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Đăng ký lớp học
				a.group-item(href="/hocvien/thoikhoabieu")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Thời khóa biểu
				a.group-item(href="/hocvien/capnhatthongtin")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Cập nhật thông tin cá nhân
				a.group-item(href="/hocvien/hocphi")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Học phí
				