block mixins
	include ../blocks/mixins
doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
		link(rel="stylesheet", href="/css/main.css")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css")
		link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js")
		title ALF - Trung tâm anh ngữ ALF Enlish
	body(class=bodyClass)
		.wrapper
			block header
				include ../blocks/header
			block container
			block header
				include ../blocks/footer
		script(src="https://code.jquery.com/jquery-3.1.1.min.js")  
		script(src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js")  
		script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js")
		script( type="module" ,src="/js/main.js")  