extends layout/layout
block container
	main 
		section.teacher
			div.py-5.bg-light.team1
				.container
					.row.justify-content-center.mb-3
						.col-md-12.text-center
							h2.mb-3 Đội ngũ giáo viên
							h6.subtitle.font-weight-normal.mb-5 Đội ngũ giáo viên của ALF Enlish đều là những người có chuyên môn cao, nhiệt huyết. Được chọn lọc và đào tạo khắt khe, áp dụng đồng bộ phương pháp RIPL toàn diện. Mỗi giáo viên là sứ giả truyền cảm hứng không chỉ chuyên sâu mà còn truyền động lực và cảm hứng học tiếng Anh.
					.row
						div.col-lg-6.mb-3
							.card.card-shadow.border-0.mb-4
								.row.no-gutters
									.col-md-5.pro-pic(style="background:url(https://res.cloudinary.com/dcbkfpgsp/image/upload/v1684508220/giao-vien-nuoc-ngoai-day-tieng-anh-nguoi-di-lam_y66d3u.webp) center center no-repeat")
									.col-md-7.bg-white
										.p-4
											h6.mb-3.font-weight-medium Michael Doe
											p.mb-3 A different language is a different vision of life - việc học 1 ngoại ngữ là học thêm 1 cách nhìn khác về cuộc sống
											p.text-center
												a.mx-4(href="https://www.facebook.com")
													i.fab.fa-facebook
												a.mx-4(href="https://www.gmail.com")
													i.far.fa-envelope
												a.mx-4(href="https://zalo.me")
													i.fab.fa-youtube 
						div.col-lg-6.mb-3
							.card.card-shadow.border-0.mb-4
								.row.no-gutters
									.col-md-5.pro-pic(style="background:url(https://res.cloudinary.com/dcbkfpgsp/image/upload/v1684508220/giao-vien-nuoc-ngoai-day-tieng-anh-nguoi-di-lam_y66d3u.webp) center center no-repeat")
									.col-md-7.bg-white
										.p-4
											h6.mb-3.font-weight-medium Michael Doe
											p.mb-3 A different language is a different vision of life - việc học 1 ngoại ngữ là học thêm 1 cách nhìn khác về cuộc sống
											p.text-center
												a.mx-4(href="https://www.facebook.com")
													i.fab.fa-facebook
												a.mx-4(href="https://www.gmail.com")
													i.far.fa-envelope
												a.mx-4(href="https://zalo.me")
													i.fab.fa-youtube 
						div.col-lg-6.mb-3
							.card.card-shadow.border-0.mb-4
								.row.no-gutters
									.col-md-5.pro-pic(style="background:url(https://res.cloudinary.com/dcbkfpgsp/image/upload/v1684508220/giao-vien-nuoc-ngoai-day-tieng-anh-nguoi-di-lam_y66d3u.webp) center center no-repeat")
									.col-md-7.bg-white
										.p-4
											h6.mb-3.font-weight-medium Michael Doe
											p.mb-3 A different language is a different vision of life - việc học 1 ngoại ngữ là học thêm 1 cách nhìn khác về cuộc sống
											p.text-center
												a.mx-4(href="https://www.facebook.com")
													i.fab.fa-facebook
												a.mx-4(href="https://www.gmail.com")
													i.far.fa-envelope
												a.mx-4(href="https://zalo.me")
													i.fab.fa-youtube 
						div.col-lg-6.mb-3
							.card.card-shadow.border-0.mb-4
								.row.no-gutters
									.col-md-5.pro-pic(style="background:url(https://res.cloudinary.com/dcbkfpgsp/image/upload/v1684508220/giao-vien-nuoc-ngoai-day-tieng-anh-nguoi-di-lam_y66d3u.webp) center center no-repeat")
									.col-md-7.bg-white
										.p-4
											h6.mb-3.font-weight-medium Michael Doe
											p.mb-3 A different language is a different vision of life - việc học 1 ngoại ngữ là học thêm 1 cách nhìn khác về cuộc sống
											p.text-center
												a.mx-4(href="https://www.facebook.com")
													i.fab.fa-facebook
												a.mx-4(href="https://www.gmail.com")
													i.far.fa-envelope
												a.mx-4(href="https://zalo.me")
													i.fab.fa-youtube 
		section.py-5.bg-light
			.container 
				.teacher-list
					.teacher-item
						img(src="https://res.cloudinary.com/dcbkfpgsp/image/upload/v1684512447/avatars/screenshot_11-20211109073148_tkr6va.png", alt="").teacher-img      
						.teacher-content.bg-white
							p.teacher-name Ms Yến Nhi
							p.teacher-point 8.0 IELTS
					.teacher-item
						img(src="https://res.cloudinary.com/dcbkfpgsp/image/upload/v1684512447/avatars/screenshot_11-20211109073148_tkr6va.png", alt="").teacher-img      
						.teacher-content.bg-white
							p.teacher-name Ms Yến Nhi
							p.teacher-point 8.0 IELTS
					.teacher-item
						img(src="https://res.cloudinary.com/dcbkfpgsp/image/upload/v1684512447/avatars/screenshot_11-20211109073148_tkr6va.png", alt="").teacher-img      
						.teacher-content.bg-white
							p.teacher-name Ms Yến Nhi
							p.teacher-point 8.0 IELTS
					.teacher-item
						img(src="https://res.cloudinary.com/dcbkfpgsp/image/upload/v1684512447/avatars/screenshot_11-20211109073148_tkr6va.png", alt="").teacher-img      
						.teacher-content.bg-white
							p.teacher-name Ms Yến Nhi
							p.teacher-point 8.0 IELTS
					.teacher-item
						img(src="https://res.cloudinary.com/dcbkfpgsp/image/upload/v1684512447/avatars/screenshot_11-20211109073148_tkr6va.png", alt="").teacher-img      
						.teacher-content.bg-white
							p.teacher-name Ms Yến Nhi
							p.teacher-point 8.0 IELTS
					.teacher-item
						img(src="https://res.cloudinary.com/dcbkfpgsp/image/upload/v1684512447/avatars/screenshot_11-20211109073148_tkr6va.png", alt="").teacher-img      
						.teacher-content.bg-white
							p.teacher-name Ms Yến Nhi
							p.teacher-point 8.0 IELTS
					.teacher-item
						img(src="https://res.cloudinary.com/dcbkfpgsp/image/upload/v1684512447/avatars/screenshot_11-20211109073148_tkr6va.png", alt="").teacher-img      
						.teacher-content.bg-white
							p.teacher-name Ms Yến Nhi
							p.teacher-point 8.0 IELTS
					.teacher-item
						img(src="https://res.cloudinary.com/dcbkfpgsp/image/upload/v1684512447/avatars/screenshot_11-20211109073148_tkr6va.png", alt="").teacher-img      
						.teacher-content.bg-white
							p.teacher-name Ms Yến Nhi
							p.teacher-point 8.0 IELTS
					.teacher-item
						img(src="https://res.cloudinary.com/dcbkfpgsp/image/upload/v1684512447/avatars/screenshot_11-20211109073148_tkr6va.png", alt="").teacher-img      
						.teacher-content.bg-white
							p.teacher-name Ms Yến Nhi
							p.teacher-point 8.0 IELTS
					.teacher-item
						img(src="https://res.cloudinary.com/dcbkfpgsp/image/upload/v1684512447/avatars/screenshot_11-20211109073148_tkr6va.png", alt="").teacher-img      
						.teacher-content.bg-white
							p.teacher-name Ms Yến Nhi
							p.teacher-point 8.0 IELTS
					.teacher-item
						img(src="https://res.cloudinary.com/dcbkfpgsp/image/upload/v1684512447/avatars/screenshot_11-20211109073148_tkr6va.png", alt="").teacher-img      
						.teacher-content.bg-white
							p.teacher-name Ms Yến Nhi
							p.teacher-point 8.0 IELTS
		include ./blocks/guest/new_post

		