extends layout/layout
block container
	main 
		section.banner
			.hero-swiper
				.swiper-wrapper
					for item in banner
						.swiper-slide
							img.banner-img(src=item.url, alt="")
							.banner-overlay
				.swiper-button-next
				.swiper-button-prev
				.swiper-pagination
		.banner-content
			.container
				.banner-group
					.banner-content-main
						h2.headline BẠN CÓ ĐANG GẶP 
							span KHÓ KHĂN ?
						.banner-content-item
							p.banner-content-desc Không biết đầu tư tiếng anh cho bản thân như thế nào cho đúng?
							p.banner-content-desc Chưa tìm được một lộ trình thực sự hiệu quả
							p.banner-content-desc Thử học kho tài liệu miễn phí nhưng không hiệu quả.
							p.banner-content-desc Khi nào học sẽ phù hợp?
							p.banner-content-desc Có nên học IELTS Online không?
							p.banner-content-desc Chi phí như thế nào là phù hợp với tài chính?
							p.banner-content-desc Nên "chọn mặt gửi vàng" tại trung tâm nào?
						p.banner-content-note Đó đều là những trăn trở của các học viên đang có mong muốn học tiếng anh. ALF sẽ giải đáp những trăn trở đó cho các bạn
					img.banner-content-img(src="/img/child-asian-20230111034140-svi2d.jpg", alt="")
		