extends layout/layout
block container
	main 
		section.banner
			.hero-swiper
				.swiper-wrapper
					for item in banner
						.swiper-slide
							img.banner-img(src=item.url, alt="")
							.banner-overlay
				.swiper-button-next
				.swiper-button-prev
				.swiper-pagination
		include ./blocks/guest/new_post
		