extends layout/layout
block container
	main 
		section.banner
			img.banner-img(src="/img/banner-home.jpg", alt="")
			.banner-content
				.container
					h1.banner-title Trung tâm anh ngữ ALF
					p HỌC PHÍ THẤP, CHẤT LƯỢNG CHUẨN ANH MỸ,  CAM KẾT TỶ LỆ ĐẠT 99%
					p Trung tâm Anh ngữ EFL chuyên đào tạo và luyện thi ngoại ngữ quốc tế VSTEP, luyện thi Cambridge, luyện thi IELTS, TOEIC
		section.why-choise
			h2.title TẠI SAO CHỌN ANH NGỮ ALF
			.why-choise-content
				.why-choise-group
					.why-choise-item
						img.why-choise-logo(src="", alt="")
						p.why-choise-desc GIÁO VIÊN ĐƯỢC TUYỂN CHỌN KHẮT KHE
					.why-choise-item
						img.why-choise-logo(src="", alt="")
						p.why-choise-desc CHƯƠNG TRÌNH ĐÀO TẠO CHUẨN QUỐC TẾ
				.why-choise-group
					img.why-choise-img(src="", alt="")
				.why-choise-group
					.why-choise-item
						img.why-choise-logo(src="", alt="")
						p.why-choise-desc GIÁO VIÊN ĐƯỢC TUYỂN CHỌN KHẮT KHE
					.why-choise-item
						img.why-choise-logo(src="", alt="")
						p.why-choise-desc CHƯƠNG TRÌNH ĐÀO TẠO CHUẨN QUỐC TẾ

