extends layout/layout
block container
	p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores temporibus eaque, consequatur, cumque iure quaerat veniam facere corrupti laboriosam, accusantium aspernatur ipsa. Sequi suscipit repellendus veritatis vitae, aliquam repellat quasi!
	a(href="/dangnhap") Đăng nhập
