extends ../../layout/layout-dash
block container
	.dash-main
		.container
			p.title Thêm thông tin học viên
			form.bg-white.create-form.mb-4(action="/admin/hocvien/themhocvien", method="post")
				.create-group.mt-2
					.create-item
						label(for='hoten') Họ và tên
						input(type='text', id='hoten', name='hoten', required)
					.create-item
						label(for='gt') Giới tính
						select.not-focus(class="form-control", id="gt", name="gt", required)
							option(value="1") Nam  
							option(value="0") Nữ
				.create-group.mt-2
					.create-item
						label(for='ngaysinh') Ngày sinh
						input(type='date', id='ngaysinh', name='ngaysinh', required)
					.create-item
						label(for='sdt') Số điện thoại
						input(type='text', id='sdt', name='sdt', required)
				.create-group.mt-2
					.create-item.w-100
						label(for='diachi') Địa chỉ
						input(type='text', id='diachi', name='diachi', required)
				.create-group.mt-2
					.create-item.w-100
						label(for='email') Email
						input(type='email', id='email', name='email', required)
				if (!admin)
					.create-group.mt-2
						.create-item.w-100
							label(for='maCN') Chọn khóa học
							select.not-focus(class="form-control", id="maCN", name="maCN")
								for dsMa in dsMaKH
									option(value= dsMa.MA_CHI_NHANH)= dsMa.TEN_CHI_NHANH		
				.create-group.mt-2
					.create-item.w-100
						p Đối tượng
						.check-dt.mt-3
							input(type="radio", id="hs", name="dt", class="form-check-input", value="HS")
							label.mx-3(for="hs", class="form-check-label") Học sinh
							input(type="radio", id="sv", name="dt", class="form-check-input", value="SV")
							label.mx-3(for="sv", class="form-check-label") Sinh viên
							input(type="radio", id="dtk", name="dt", class="form-check-input", value="DTK")
							label.mx-3(for="dtk", class="form-check-label") Đối tượng khác
							.hs-content.mt-4
								.create-group.mt-2
									.create-item
										label(for='lop') Lớp
										input(type='text', id='lop', name='lop')
									.create-item
										label(for='truong') Trường
										input(type='text', id='truong', name='truong')        
								.create-group.mt-2
									.create-item
										label(for='phuhuynh') Phụ huynh
										input(type='text', id='phuhuynh', name='phuhuynh')
									.create-item
										label(for='sdt-ph') Số điện thoại phụ huynh
										input(type='text', id='sdt-ph', name='sdt-ph')  
							.sv-content.mt-4
								.create-group.mt-2
									.create-item
										label(for='nganh') Ngành
										input(type='text', id='nganh', name='nganh')
									.create-item
										label(for='truongdh') Trường
										input(type='text', id='truongdh', name='truongdh')              
							.dtk-content.mt-4
								.create-group.mt-2
									.create-item.w-100
										label(for='cv') Công việc
										input(type='text', id='cv', name='cv')             
				.button-main.mt-4.text-center
					button(type='submit') Lưu thông tin
			.flex.flex-end.mt-4
				a.button(href="/admin/hocvien") Trở về



