/* css header admin */
.header-dash {
  background-color: #54b585;
  /* height: 150px; */
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex {
  display: flex;
}

.header-logo {
  border-radius: 50%;
}

.header-title {
  align-self: center;
  font-size: 32px;
  color: white;
  margin-left: 20px;
  font-weight: bold;
}

.text-title {
  font-size: 22px;
  color: black;
}

.text-right {
  text-align: right;
  padding-bottom: 10px;
}

.header-infor {
  border-top: 2px solid snow;
  padding: 10px 0;
  background-color: #49796b;
}

.flex-end {
  justify-content: end;
}

.icon-min {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.border-right {
  border-right: 2px solid snow;
  margin-right: 20px;
  padding-right: 20px;
}

/* end css header admin */

/* css admin main  */
.dash-main {
  background-color: #eaeff8;
  padding: 50px 0;
}
.group-item {
  width: calc(100% / 3);
  padding: 0 15px;
}
.group {
  flex-wrap: wrap;
}
.group-content {
  padding: 20px;
  background: white;
  margin-bottom: 20px;
  justify-content: space-around;
  border-radius: 20px;
}

.group-content:hover {
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.content-right {
  width: 75%;
}

.content-title {
  font-weight: 600;
  color: #1c3967;
  text-transform: capitalize;
  text-align: left;
  margin-bottom: 10px;
}

.content-desc {
  min-height: 40px;
  color: #505050;
}

.btn-circle {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 14px 15px;
  font-size: 18px;
  line-height: 23px;
  margin-left: 10px;
}
.text-muted {
  color: #8898aa !important;
}
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}
.btn-circle {
  border-radius: 100%;
  width: 40px;
  height: 40px;
  padding: 10px;
}
.user-table tbody tr .category-select {
  max-width: 150px;
  border-radius: 20px;
}

.p-20 {
  padding: 20px;
}

.radius-16 {
  border-radius: 16px;
}

.title {
  font-size: 32px;
  color: #1c3967;
  text-align: center;
  font-weight: bold;
  margin-bottom: 40px;
}

.text-overflow {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.4;
}

.borderbottom {
  border-bottom: 1px solid #dee2e6;
}
.table > :not(caption) > * > * {
  padding: 20px 10px;
}

.justify-center {
  justify-content: center;
}

.button {
  margin-bottom: 20px;
  text-align: right;
  padding: 15px;
  border: 0;
  background: #54b585;
  color: white;
  border-radius: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.1s linear;
}

.justify-around {
  justify-content: space-between;
}

.search-form {
  display: flex;
  align-items: flex-end;
  padding: 20px;
  border-radius: 20px;
  justify-content: space-between;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.search-form > .login-group {
  width: 40%;
}
.search-form > .login-group.button-search {
  width: unset;
}

.h-50 {
  height: 50px !important;
}

.not-focus:focus {
  background: #f3f5f7;
  border: 1px solid #dee2e6;
  box-shadow: none;
}

.create-item {
  display: flex;
  flex-direction: column;
}

.create-item > label {
  margin-bottom: 15px;
}
.create-item > input,
.create-item > select {
  height: 50px;
  font-size: 16px;
  border: 0;
  background: #f3f5f7;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.create-item > select {
  padding: 0 20px;
}
.create-form {
  padding: 30px;
  border-radius: 20px;
  box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

.create-group > .create-item {
  width: 48%;
}
.create-group {
  display: flex;
  justify-content: space-between;
}

.sv-content,
.hs-content,
.dtk-content {
  display: none;
}

.sv-content,
.hs-content,
.dtk-content {
  display: none;
}
.sv-content input,
.hs-content input,
.dtk-content input {
  pointer-events: none;
}
input#hs:checked ~ .hs-content,
input#sv:checked ~ .sv-content,
input#dtk:checked ~ .dtk-content {
  display: block;
}

input#hs:checked ~ .hs-content input,
input#sv:checked ~ .sv-content input,
input#dtk:checked ~ .dtk-content input {
  pointer-events: auto;
}

.button-main > button {
  padding: 10px;
  height: 50px;
  border: 0;
  background: #54b585;
  color: white;
  border-radius: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.1s linear;
}
/* end css admin main */
