.banner {
  width: 100%;
  .hero-swiper {
    position: relative;
  }
  .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #fff;
    opacity: 0.4;
  }
  .swiper-pagination-bullet-active {
    background: #35a864;
    opacity: 1;
  }
  .swiper-button-prev {
    color: #dbdbdb;
    opacity: 0.5;
    left: 20px;
    right: auto;
    &::after {
      font-size: 40px;
    }
  }
  .swiper-button-next {
    color: #dbdbdb;
    opacity: 0.5;
    right: 20px;
    left: auto;
    &::after {
      font-size: 40px;
    }
  }

  .swiper-wrapper {
    position: relative;
  }
  &-img {
    height: auto;
    max-height: 842px;
    width: 100%;
    object-fit: cover;
    z-index: 0;
  }

  .banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    // box-shadow: inset 0 0 0 100vh rgba(0, 0, 0, 0.1);
    z-index: 9;
    top: 0;
    left: 0;
  }

  &-content {
    background-image: url("/img/background-banner-content.png");
    padding: 60px 0;
    .headline {
      &::before {
        content: "";
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        top: 50%;
        background: url("/img/icon-enlish.svg");
        transform: translateY(-50%);
      }
    }

    &-main {
      width: 55%;
    }
    &-img {
      width: 40%;
      object-fit: cover;
      border-radius: 20px;
    }
    &-desc {
      font-size: 20px;
      margin-bottom: 10px;
      position: relative;
      padding-left: 40px;

      &::before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        left: 0;
        top: 50%;
        background: url("/img/icon-mark.svg");
        transform: translateY(-50%);
      }
    }

    &-note {
      margin-top: 20px;
      font-size: 20px;
      font-weight: bold;
    }
  }

  &-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
