// Buttons

.read-more {
    color: #142c54;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 22px;
}

.btn-green {
    background: #35a864 !important;
}
