.why-not {
  padding: 60px 0;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 199, 46);
    opacity: 0.37;
    mix-blend-mode: multiply;
    will-change: transform, opacity;
    z-index: -1;
  }

  &-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
  }

  &-item {
    width: calc(50% - 25px);
    padding: 30px;
    background: white;
    border-radius: 20px;
    margin-bottom: 40px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      top: 20px;
      left: 20px;
      z-index: -1;
      background-color: gray;
    }
  }

  &-title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  &-desc {
    font-size: 20px;
  }
}
