extends ../layout/layout-dash
block container
	.dash-main
		.container
			p.title Quản lý thông tin giáo viên
			.flex.justify-around
				a.button(href="/admin/hocvien/themhocvien") Thêm giáo viên mới 
				form.search-form-full(action="", method="get", role="form")
							input(type="text", name="search", placeholder="Tìm kiếm")
				
			.bg-white.p-40.radius-16.mt-2
				a(href="").member-entry
					.member-img.mr-20
						img.img-rounded(src="https://bootdey.com/img/Content/avatar/avatar1.png", alt="avatar")
					.member-detail
						h4 Nguyễn Hoàng Duy
						.row.info-list
							.col-sm-4.flex
								p.mr-10 
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
				a(href="").member-entry
					.member-img.mr-20
						img.img-rounded(src="https://bootdey.com/img/Content/avatar/avatar1.png", alt="avatar")
					.member-detail
						h4 Nguyễn Hoàng Duy
						.row.info-list
							.col-sm-4.flex
								p.mr-10 
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
				a(href="").member-entry
					.member-img.mr-20
						img.img-rounded(src="https://bootdey.com/img/Content/avatar/avatar1.png", alt="avatar")
					.member-detail
						h4 Nguyễn Hoàng Duy
						.row.info-list
							.col-sm-4.flex
								p.mr-10 
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
				a(href="").member-entry
					.member-img.mr-20
						img.img-rounded(src="https://bootdey.com/img/Content/avatar/avatar1.png", alt="avatar")
					.member-detail
						h4 Nguyễn Hoàng Duy
						.row.info-list
							.col-sm-4.flex
								p.mr-10 
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
							.col-sm-4.flex
								p.mr-10
									i.fa.fa-briefcase
								p Khánh Hòa
				 
			.flex.flex-end.mt-4
				a.button(href="/admin") Trở về

