extends ../layout/layout-dash
block container
	.dash-main
		.container
			.group.flex
				a.group-item(href="/admin/hocvien")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Hồ sơ học viên
				a.group-item(href="/admin/giaovien")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Hồ sơ giáo viên
				a.group-item(href="/admin/quantrivien")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Tài khoản quản trị viên
				a.group-item(href="/admin/khoahoc")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Danh sách khóa học
				a.group-item(href="/admin/modangky")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Danh sách mở đăng ký
				a.group-item(href="/admin/banner")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Danh sách banner
				a.group-item(href="/admin/baiviet")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Danh sách bài viết
				a.group-item(href="/admin/dmkh")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Danh mục khóa học
				a.group-item(href="/admin/luong/giaovien")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Lương
				a.group-item(href="/admin/thongke")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Thống kê
				a.group-item(href="/admin/diemso")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Quản lý điểm số
				a.group-item(href="/admin/phong")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Quản lý Phòng

