extends ../layout/layout-dash
block container
	.dash-main
		.container
			.group.flex
				a.group-item(href="/admin/hocvien")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Hồ sơ học viên
							p.content-desc Thông tin cá nhân, địa chỉ liên lạc của học viên
				a.group-item(href="/admin/giaovien")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Hồ sơ giáo viên
							p.content-desc Thông tin cá nhân, địa chỉ liên lạc của giáo viên
				a.group-item(href="/admin/quantrivien")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Tài khoản quản trị viên
							p.content-desc Thông tin cá nhân, địa chỉ liên lạc của học viên
				a.group-item(href="/admin/khoahoc")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Danh sách khóa học
							p.content-desc Thông tin cá nhân, địa chỉ liên lạc của học viên
				a.group-item(href="/admin/modangky")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Danh sách mở đăng ký
							p.content-desc Thông tin cá nhân, địa chỉ liên lạc của học viên
				a.group-item(href="/admin/banner")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Danh sách banner
							p.content-desc Thông tin cá nhân, địa chỉ liên lạc của học viên
				a.group-item(href="/admin/baiviet")
					.group-content.flex.flex-center
						img.icon(src="/img/ho-so.svg", alt="")
						.content-right
							p.content-title Danh sách bài viết
							p.content-desc Thông tin cá nhân, địa chỉ liên lạc của học viên

