.header-dash
    .container
        .flex
            img.header-logo(src="/img/alf-logo.jpg", alt="ALF")
            p.header-title Trung tâm anh ngữ ALF
        p.text-title.text-right= quyen
.header-infor
    .container.flex.flex-end
        a.color-white.border-right(href="/") Trang thông tin 
        p.color-white.border-right Tài khoản: 
            a.color-white(href="")= ten
        a.color-white(href="/dangxuat")
            img.icon-min(src="/img/power.png", alt="logout")