header.header
    .header-menu
        a.header-menu-logo(href="/") 
            .header-menu-content
                img(src="/img/alf-logo.jpg")
        .header-menu-desktop
            ul.header-menu-group
                li.header-menu-item
                    a(href="") Trang chủ
                li.header-menu-item
                    a(href="") Về chúng tôi  
                li.header-menu-item
                    a(href="") Giảng viên
                li.header-menu-item
                    a(href="") Học viên 
                li.header-menu-item
                    a(href="") Khóa học
        .header-login
            a.header-menu-login.mx-4(href="/dangnhap")
                span Đăng nhập  
            a.header-menu-login(href="/dangky")
                span Đăng ký





            
