header.header
    nav.header-main
        div.header-logo
            a.header-logo-link(href="")
                img.header-logo-img(src="/img/alf-logo.jpg")
        ul.header-menu
            li.header-menu-item
                a.header-menu-link(href="") Trang chủ
            li.header-menu-item
                a.header-menu-link(href="") Giảng viên
            li.header-menu-item
                a.header-menu-link(href="") Khóa học 
            li.header-menu-item
                a.header-menu-link(href="") Bài viết
        div
            a.mx-3.header-button(href="/dangnhap") Đăng nhập
            a.header-button(href="/dangky") Đăng ký