header.header
    nav.header-main
        div.header-logo
            a.header-logo-link(href="")
                img.header-logo-img(src="/img/alf-logo.jpg")
        ul.header-menu
            li.header-menu-item
                a.header-menu-link(href="/") Trang chủ
            li.header-menu-item
            a.header-menu-link(href="/giangvien") Giảng viên
            li.header-menu-item
                a.header-menu-link(href="/khoahoc") Khóa học 
            li.header-menu-item
                a.header-menu-link(href="/baiviet") Bài viết
        div
            a.mx-3.header-button(href="/dangnhap") Đăng nhập
            a.header-button.btn-search Tìm kiếm
    .search-content
        form.form(action="/timkiem", method="GET") 
            i.fas.fa-search
            input.form-control.form-input(type='search', name="s", placeholder='Tìm kiếm khóa học')
            button(type="submit") Tìm kiếm
