header.header
    .top-bar
        .container.top-bar-content
            .top-bar-info.flex
                a(href="tel:0394313979").top-bar-info--item.flex.mx-2
                    img.d-block.mx-2.top-bar-icon(src="/img/phone.svg", alt="")
                    p (+84) 039.431.3979
                a(href="mailto:tienenglish2013@gmail.com").top-bar-info--item.flex.mx-2
                    img.d-block.mx-2.top-bar-icon(src="/img/mail-icon.svg", alt="")
                    p tienenglish2013@gmail.com
            .top-bar-social.flex
                a(href="https://www.facebook.com/anhngualf", title="Facebook").social-link.mx-2
                    i.social-icon.fa-brands.fa-facebook
                a(href="https://www.instagram.com/anhngualf", title="Instagram").social-link.mx-2
                    i.social-icon.fa-brands.fa-instagram
                a(href="https://www.youtube.com/@alfenglish", title="Youtube").social-link.mx-2
                    i.social-icon.fa-brands.fa-youtube
    nav.py-2
        .container.header-menu
            a.header-menu-logo(href="") 
                img(src="/img/alf-logo.jpg", alt="logo").header-menu
                .header-menu-content
                    p.header-logo-text ALF 
                    p.header-logo-sub Enlish for life
            ul.header-menu-group
                li.header-menu-item.mx-2
                    a.header-menu-link(href="") Về ALF
                li.header-menu-item.mx-2
                    a.header-menu-link(href="") Khóa học
                li.header-menu-item.mx-2
                    a.header-menu-link(href="") Lịch khai giảng
                li.header-menu-item.mx-2
                    a.header-menu-link(href="") Liên Hệ
                a(href="/dangnhap").header-login.mx-2.button Đăng nhập



            
