.banner
    img.banner-img(src="/img/banner-home.jpg", alt="")
    .banner-content
        .container
            h1.banner-title Trung tâm anh ngữ ALF
            p HỌC PHÍ THẤP, CHẤT LƯỢNG CHUẨN ANH MỸ,  CAM KẾT TỶ LỆ ĐẠT 99%
            p Trung tâm Anh ngữ EFL chuyên đào tạo và luyện thi ngoại ngữ quốc tế VSTEP, luyện thi Cambridge, luyện thi IELTS, TOEIC