section.faq.section
    .container
        .row.justify-content-center
            .col-12.col-sm-8.col-lg-6
                .section_heading.text-center.wow.fadeInUp(data-wow-delay='0.2s', style='visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;')
                    h2.mb-5.title
                        span Câu hỏi thường gặp
        .row.justify-content-center
            .col-12.col-sm-10.col-lg-8
                .accordion.faq-accordian#faqAccordion
                    .card.border-0.wow.fadeInUp(data-wow-delay='0.2s', style='visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;')
                        .card-header#heading1
                            h6.mb-0.collapsed(data-toggle='collapse', data-target='#collapse1', aria-expanded='true', aria-controls='collapse1')
                                | Quy trình tổ chức lớp tại trung tâm Ngoại Ngữ Ứng Dụng như thế nào?
                        span.lni-chevron-up
                        .collapse#collapse1(data-parent='#faqAccordion', aria-labelledby='heading1')
                            .card-body
                                ul.list-group.list-group-flush
                                    li.list-group-item
                                        span Tìm hiểu nhu cầu của học viên: học viên cá nhân/doanh nghiệp được tư vấn và giải đáp các thắc mắc liên quan đến chương trình học, cách tổ chức, giảng dạy…
                                    li.list-group-item
                                        span Kiểm tra/test trình độ của học viên
                                    li.list-group-item
                                        span Tư vấn và thống nhất lớp học, thời gian học cho học viên. Bài test là cơ sở để lựa chọn khóa học phù hợp với học viên. Đối với lớp học cá nhân/doanh nghiệp, 2 bên sẽ thống nhất phương pháp giảng dạy, giáo trình học đáp ứng được năng lực và nhu cầu của học viên.
                                    li.list-group-item
                                        span Học viên tiến hành thanh toán học phí. Đối với lớp doanh nghiệp, 2 bên sẽ thống nhất kí kết hợp đồng giảng dạy.
                                    li.list-group-item
                                        span Nhận xét, đánh giá và phản hồi năng lực của học viên trong suốt quá trình học tập. Cuối khóa học sẽ có bài kiểm tra để đánh giá đầu ra trình độ của học viên.
                    .card.border-0.wow.fadeInUp(data-wow-delay='0.2s', style='visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;')
                        .card-header#headingOne
                            h6.mb-0.collapsed(data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                | Trung tâm có giáo viên người bản xứ hay không?
                        span.lni-chevron-up
                        .collapse#collapseOne(data-parent='#faqAccordion', aria-labelledby='headingOne')
                            .card-body
                                p Trung tâm Ngoại Ngữ Ứng Dụng có đội ngũ giáo viên người bản xứ đạt chuẩn, giàu kinh nghiệm.
                    .card.border-0.wow.fadeInUp(data-wow-delay='0.2s', style='visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;')
                        .card-header#heading2
                            h6.mb-0.collapsed(data-toggle='collapse', data-target='#collapse2', aria-expanded='true', aria-controls='collapse2')
                                | Điều kiện cơ sở vật chất tại trung tâm như thế nào?
                        span.lni-chevron-up
                        .collapse#collapse2(data-parent='#faqAccordion', aria-labelledby='heading2')
                            .card-body
                                p Mỗi lớp học tại trung tâm Ngoại Ngữ Ứng Dụng được trang bị đầy đủ cơ sở vật chất từ bàn, ghế, bảng, điều hòa, thiết bị trình chiếu cũng như các thiết bị cần thiết cho việc học tập. Ngoài ra trung tâm còn có các nguồn tài liệu, giáo trình, tạp chí, sách truyện ngoại văn phong phú để học viên có thể mượn đọc và tham khảo.
                    .card.border-0.wow.fadeInUp(data-wow-delay='0.2s', style='visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;')
                        .card-header#heading3
                            h6.mb-0.collapsed(data-toggle='collapse', data-target='#collapse3', aria-expanded='true', aria-controls='collapse3')
                                | Trung tâm Ngoại Ngữ ALF ở đâu ở đâu?
                        span.lni-chevron-up
                        .collapse#collapse3(data-parent='#faqAccordion', aria-labelledby='heading3')
                            .card-body
                                p.mb-3 Hiện nay trung tâm Ngoại Ngữ ALF Enlish có 4 cơ sở:
                                ul.list-group.list-group-flush
                                    li.list-group-item
                                        span CS1 : 11 Mai Xuân Thưởng - Vĩnh Hải - Nha Trang
                                    li.list-group-item
                                        span CS2 : 417 Quang Trung - p10 - Gò Vấp - Tp. Hồ Chí Minh
                                    li.list-group-item
                                        span CS3: 30/27 Đoàn Trần Nghiệp - Vĩnh Phước - Nha Trang
                                    li.list-group-item
                                        span CS4 : 62 Nguyễn Đình Chiểu - Vĩnh Phước - Nha Trang
                    .card.border-0.wow.fadeInUp(data-wow-delay='0.2s', style='visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;')
                        .card-header#headingTwo
                            h6.mb-0.collapsed(data-toggle='collapse', data-target='#collapseTwo', aria-expanded='true', aria-controls='collapseTwo')
                                | Trung tâm có các loại khóa học nào?
                        span.lni-chevron-up
                        .collapse#collapseTwo(data-parent='#faqAccordion', aria-labelledby='headingTwo')
                            .card-body
                                p.mb-3 Một số khóa học tại trung được thiết kế phù hợp với nội dung chương trình học. Các ngôn ngữ tại trung tâm hiện đang triển khai các khóa học:
                                ul.list-group.list-group-flush
                                    li.list-group-item
                                        span Khóa học cơ bản
                                    li.list-group-item
                                        span Khóa học giao tiếp
                                    li.list-group-item
                                        span Khóa học cấp tốc
                                    li.list-group-item
                                        span Khóa học thương mại
                                    li.list-group-item
                                        span Khóa học cho thiếu nhi
                                    li.list-group-item
                                        span Khóa học nâng cao
                                    li.list-group-item
                                        span Khóa học cho doanh nghiệp
                                    li.list-group-item
                                        span Ngoài ra còn có cá khóa summer camp và winter camp hằng năm cho các bé