extends ../layout/layout
block container
	main
		section.py-5.bg-light 
			.container
				if (post)
					h2.post-single-headline= post.tieu_de
					.post-single-content!= post.noi_dung
				else
					p Không tìm thấy bài viết
		include ../blocks/guest/new_post
				
